body {
    font: "Arial", sans-serif;
}

.message {
    text-align: left;
}

.date, .dateFromMe {
    color: grey;
}

.messageText {
    color: black;
}

.messageTextFromMe {
    color: darkgrey;
}

.image {

}

.attachment {

}
